*{
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkgray;
    color: white;
}
.container{
    background-color: gray;
    width: 500px;
    height: 300px;
    margin: auto;
    margin-top: 30px;
    border-radius: 30px; 
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.61);
}
.title{
    height: 50px;
    border-bottom: .5px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tarefaBox{
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tarefaBox input{
    width: 400px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    background-color: white;
}
.tarefaBox input:focus{
    outline: none;
}
.sendButton{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid white;
}
.sendButton img{
    width: 40px;
    height: 40px;
    margin-bottom: 30px;
}
.sendButton img:hover{
    cursor: pointer;
}
.searchBox{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchBox input{
    width: 250px ;
    height: 30px;
    text-align: center;
}
.searchBox input:focus{
   outline: none;
}
.searchBox img{
    width: 20px;
    margin-right: 20px;
}
.tarefaContainer{
    color: black;
    width: 600px;
    margin: auto;
    margin-top: 20px;
}
.t1{
    width: 600px;
    height: 80px;
    background-color: aliceblue;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.753);
    margin-bottom: 5px;
}
.t1 h2{
    width: 600px;
}
.t1 img{
    height: 45px;
    margin-right: 10px;
}
.t1 img:hover{
    cursor: pointer;
}
.active{
    text-decoration: line-through;
    background-color: rgb(217, 255, 217);
}

